# Ignore specific files and directories
checkpoint_storage/*
label_cloud_project/
model_inference_data/processed_pcds/*
model_inference_data/pcds/*
.vscode/
__pycache__/

# Ignore image files
*.png
*.jpeg
*.jpg
*.tar
*.pcap
*.log

#keep readme data
!readme_images/

#keep the benchmark dataset
!model_training_data/datasets/BENCHMARK_DATASET_400