# Ignore specific files and directories
checkpoint_storage/
label_cloud_project/
model_inference_data/processed_pcds/
model_inference_data/pcds/
.vscode/
__pycache__/
temp/

# Ignore image files
*.jpeg
*.jpg
*.log

# Ignore archives
*.tar
*.pcap
*.pcd

# Keep specific files or directories
!readme_images/
!model_training_data/datasets/BENCHMARK_DATASET_400/
